@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 750px) {
      p {
        display: none;
      }
    }

    @media (max-width: 450px) {
      h1 {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
      float: left;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      display: inline-block;
    }

    p {
      color: #7b7b7b;
    }
  }
}
